  
/* Unused samples for overrides example. */


.container {
    width: 90%;
    margin-right: auto;
    margin-left: 14px;
    padding-left: 16px;
    padding-right: 12px;
}


div.body {
    min-width: 450px;
    max-width: 100%;
}

.bs-sidenav {
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

