*.so
*.py[cod]
/doc/out.txt
/doc/err.txt
/doc/build/*
/doc/_bild/*
/doc/test
/.idea
/.DS_Store
*.egg-info
*.egg
build
develop-eggs
dist
eggs
lib
lib64
jetset/jetkernel/*.c
jetset/jetkernel/jetkernel.py
jetset/old