*.so
*.py[cod]
/doc/out.txt
/doc/err.txt
/doc/build
/.idea
/.DS_Store
*.egg-info
*.egg
*.xcodeproj
*.ipynb_checkpoints
/.vscode
/build
develop-eggs
dist
eggs
lib
lib64
jetkernel/*.c
jetkernel/jetkernel.py
jetset/old
test/*.py