*.so
*.py[cod]
__pycache__/
/doc/out.txt
/doc/err.txt
/doc/build/*
.idea
/.DS_Store
*.egg-info
*.egg
*.xcodeproj
*.pkl
*.ipynb_checkpoints
/.DS_Store
.vscode
/testing
/build
develop-eggs
dist
eggs
lib
lib64
jetkernel/*.c
jetkernel/jetkernel.py
jetset/old/
notebooks/*
!notebooks/*ipynb
!notebooks/images
!notebooks/*.md
!notebooks/QuickStart_files

