include README.rst
include LICENSE.rst
include requirements.txt
include proj_descr.md
include jetset/pkg_info.json

include jetset/jetkernel/mathkernel/F_Sync.dat
include jetset/Spectral_Templates_Repo/*.dat
include jetset/test_data/SEDs_data/*.ecsv
include jetset/ebl_data/*

graft jetkernel_src/include
graft jetset/mathkernel

prune doc
prune ebl_models
prune jetset.egg-info
