setuptools
scipy>=1.17,<1.18
numpy<=2.3
astropy>=7.2.0,<8
matplotlib>=3.1.0
future
iminuit>=2.30.0,<=2.31.2
corner
six
emcee>=3.0.0,<=3.2
pyyaml
pytest
numba >=0.60,<0.65
tqdm<5
jupyter
ipython
dill
swig>=4
gammapy==2.*