sphinx-bootstrap-theme
sphinx-automodapi
sphinx_rtd_theme>=0.3.1
sphinxcontrib-bibtex
nbsphinx
numpydoc
setuptools
scipy
numpy
astropy>=4.0
matplotlib>=3.1.0
#swig>3.0.0
future
iminuit>=1.3.7
corner
six
emcee
pyyaml
pyqt
pytest

