sphinx-bootstrap-theme
sphinx-automodapi
sphinx_rtd_theme>=0.3.1
sphinxcontrib-bibtex
sphinx-gallery
sphinx-nbexamples
nbsphinx
numpydoc
graphviz
mock
setuptools
scipy>=1.5.0
numpy>=1.18
astropy>=4.0,<5.0.0
matplotlib>=3.1.0
#swig>=3.0.0
future
iminuit
corner
six
emcee>=3.0.0
pyyaml
#pyqt
pytest
numba>0.55
pytest
tqdm
jupyter
ipython
dill